[interface]
classification = alignment / model

[parameters]
;; -Z (set # of comparisons done, for E-value calculation)
$;OTHER_OPTS$;=--cut_tc -Z 15930

[input]
$;INPUT_FILE_LIST$; = 
$;INPUT_FILE$; = 
$;INPUT_DIRECTORY$; = 
;; the following is only used when iterating over an INPUT_DIRECTORY
$;INPUT_EXTENSION$; = fsa
$;HMMPFAM3_EXEC$; = /usr/local/packages/hmmer-3.0/bin/hmmscan
$;DATABASE_PATH$; = /usr/local/projects/dacc/jcvi_metagenomic_autoannotate/data/ALL_LIB.HMM
;; this is a tied has (MLDBM file) containined parsed information for the database defined
;;  just above.  it should be created with the hmmlib_to_mldbm.pl script.  optional.
$;HMM_INFO_FILE$; = /usr/local/projects/dacc/jcvi_metagenomic_autoannotate/data/hmm3.db
;; this is the location of any lookup files
$;WORK_DIR$;=/usr/local/projects/dacc/jcvi_metagenomic_autoannotate/data/


[output]
$;OUTPUT_TOKEN$; = default
$;OUTPUT_DIRECTORY$; = $;REPOSITORY_ROOT$;/output_repository/$;COMPONENT_NAME$;/$;PIPELINEID$;_$;OUTPUT_TOKEN$;
$;RAW_OUTPUT_LIST$; = $;OUTPUT_DIRECTORY$;/$;COMPONENT_NAME$;.raw.list
$;HTAB_OUTPUT_LIST$; = $;OUTPUT_DIRECTORY$;/$;COMPONENT_NAME$;.htab.list
$;PARSED_OUTPUT_LIST$; = $;OUTPUT_DIRECTORY$;/$;COMPONENT_NAME$;.parsed.list

[component]
$;COMPONENT_NAME$; = hmmpfam3_jcvimeta 
$;DESCRIPTION$; = none
$;WORKFLOW_REPOSITORY$; = $;REPOSITORY_ROOT$;/workflow/runtime/$;COMPONENT_NAME$;/$;PIPELINEID$;_$;OUTPUT_TOKEN$;
$;PIPELINE_TOKEN$; = unnamed
;;
;;To only produce raw blast output add;
;;$;SKIP_WF_COMMAND$;=
;;
$;SKIP_WF_COMMAND$;=

;The version,revision,tag here is set by an interpolated CVS tag
$;VERSION$; = $Name$
$;RELEASE_TAG$; = $Name$
$;REVISION$;            = $Revision: 6318 $

$;TEMPLATE_XML$; = $;DOCS_DIR$;/$;COMPONENT_NAME$;.xml
$;ITERATOR1$; = i1
$;ITERATOR1_XML$; = $;DOCS_DIR$;/$;COMPONENT_NAME$;.$;ITERATOR1$;.xml

;Distributed options
$;GROUP_COUNT$; = 150
$;NODISTRIB$; = 0

;the following keys are replaced at runtime by the invocation script
$;COMPONENT_CONFIG$; = 
$;COMPONENT_XML$; = 
$;PIPELINE_XML$; = 
$;PIPELINEID$; = 

[include]
$;PROJECT_CONFIG$;=


